@model Gimnasio.Models.Factura

@{
    ViewData["Title"] = "Editar Factura";
}

<h2>Editar Factura</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="FacturaID" />
    <div class="form-group">
        <label asp-for="UsuarioID" class="control-label">Cliente</label>
        <select asp-for="UsuarioID" class="form-control" asp-items="@(new SelectList(ViewBag.Clientes, "UsuarioID", "Nombre", Model.UsuarioID))">
            <option value="">-- Seleccione un Cliente --</option>
        </select>
        <span asp-validation-for="UsuarioID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Monto" class="control-label">Monto</label>
        <input asp-for="Monto" type="number" step="0.01" class="form-control" required />
        <span asp-validation-for="Monto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Detalle" class="control-label">Detalle</label>
        <input asp-for="Detalle" class="form-control" required />
        <span asp-validation-for="Detalle" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>
