<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="MainLayout" />
        </Found>
        <NotFound>
            <LayoutView Layout="MainLayout">
                <p>Lo sentimos, no encontramos esta página.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
