<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="proyectoGymBlazor.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    @using Microsoft.AspNetCore.Components
@using proyectoGymBlazor
@namespace proyectoGymBlazor

<Router AppAssembly="@typeof(App).Assembly">
    <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
    <FocusOnNavigate />
</Router>

</body>

</html>
