
@{
    ViewData["Title"] = "Panel de Entrenador";
}

<h2>Panel de Entrenador</h2>

<ul>
    <li><a asp-controller="Entrenador" asp-action="EmitirFactura">Emitir Factura</a></li>
    <li><a asp-controller="Entrenador" asp-action="GestionarClases">Gestionar Clases</a></li>
    <li><a asp-controller="Entrenador" asp-action="VerReservas">Ver Reservas</a></li>
</ul>
