@model IEnumerable<Gimnasio.Models.Reserva>

<h2>Ver Reservas</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Clase</th>
            <th>Cliente</th>
            <th>Fecha de Reserva</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@(reserva.Clase?.Nombre ?? "Gimnasio Abierto")</td>
                <td>@reserva.Usuario.Nombre</td>
                <td>@reserva.FechaReserva.ToShortDateString()</td>
                <td>@reserva.TipoReserva</td>
            </tr>
        }
    </tbody>
</table>
