@model Gimnasio.Models.Reserva

@{
    ViewData["Title"] = "Eliminar Reserva";
}

<h2>¿Estás seguro de que deseas eliminar esta reserva?</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Cliente:</dt>
        <dd class="col-sm-10">@Model.Usuario.Nombre</dd>

        <dt class="col-sm-2">Clase:</dt>
        <dd class="col-sm-10">@Model.Clase.Nombre</dd>

        <dt class="col-sm-2">Fecha de Reserva:</dt>
        <dd class="col-sm-10">@Model.FechaReserva.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-2">Tipo de Reserva:</dt>
        <dd class="col-sm-10">@Model.TipoReserva</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="ReservaID" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
}
