@{
    ViewData["Title"] = "Panel de Entrenador";
}

<h2>Panel de Entrenador</h2>

<div class="d-grid gap-2 col-3 mx-auto">
    <a asp-controller="Clases" asp-action="Index" class="btn btn-primary">Gestionar Clases</a>
    <a asp-controller="Facturas" asp-action="Index" class="btn btn-primary">Gestionar Facturas</a>
    <a asp-controller="Reservas" asp-action="Index" class="btn btn-primary">Gestionar Reservas</a>
</div>
