@model Gimnasio.Models.Clase

<h2>Eliminar Clase</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Horario:</dt>
        <dd class="col-sm-10">@Model.Horario.ToString(@"hh\:mm")</dd>

        <dt class="col-sm-2">Cupo:</dt>
        <dd class="col-sm-10">@Model.Cupo</dd>

        <dt class="col-sm-2">Entrenador:</dt>
        <dd class="col-sm-10">@Model.Entrenador?.Nombre</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="ClaseID" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
